<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <main>
        <div class="card">
            <div class="card-top"><h2><%= singleBook.title %></h2>
                <img src="/images/<%= singleBook.image %>">
            </div>
            <div class="card-bottom">
                <p><span class="category">Title:</span> <span class="title"> <%= singleBook.title %></span></p>
                <p><span class="category">Author:</span> <%= singleBook.author %></p>
                <p><span class="category">Publisher:</span> <%= singleBook.publisher %></p>
                <p><span class="category">Genre:</span> <%= singleBook.genre %></p>
                <p><span class="category">Number of pages:</span> <%= singleBook.pages %></p>
                <p><span class="category">Rating:</span> <%= singleBook.rating %></p>
                <p><span class="category">Synopsis:</span> <%= singleBook.synopsis %></p>
            </div>
        </div>
    </main>

<%- include('../partials/footer') -%>

</html>