<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <section>
        <div class="container">
            <h1>CodeSquad Comics</h1>
            <p>CodeSquad Comics is a collection of graphic novels read by Rachel Sensenig. The site is intended to display comic book covers along with information about each book, including the author, a rating, and other details about the graphic novel. Browse through the complete collection below. Click on the cover image or the Details link to see even more information for each graphic novel including the publisher, genre, number of pages, and a brief synopsis. The About page includes meta information about this collection. Login is only available to the site administrator at this time.</p>
        </div>
    </section>
    <main>
        <div class="container">
            <h2>COMPLETE COMIC COLLECTION</h2>
            <div class="comic-collection">
                <div class="index-entry">
                    <% for (book of booksArray) { %>
                        <a href="./book/<%= book._id %>">
                            <img src="/images/<%= book.image %>">
                        </a>
                        <span class="title"><%= book.title %></span>
                        <span class="author">by <%= book.author %></span>
                        <span class="rating"><%= book.rating %> stars</span>
                        <a href="./book/<%= book._id %>">Details</a>
                    <% } %>
                </div>
            </div>
            <!-- <div class="new-div"></div> -->
            <div class="display-more">
                <input type="button" value="Display More">
            </div>
        </div>
    </main>
    
<%- include('../partials/footer') -%>

</html>